
body {
    font-family: sans-serif;
    max-width: 600px;
    margin: 48px auto;
}

h1{
    font-size: 48px;
    line-height: 3px;
    color: #453c52;
}

h2{
    font-size: 34px;
    line-height: 1.6px;
    color: #453c52;
}

h3{
    font-size: 24px;
    line-height: 1.4px;
    color: #453c52;
}

p{
    font-size: 20px;
    line-height: 1.2px;
    margin-left: 32px;
    color: #453c52;
}

section {
    margin-top: 48px;
    margin-bottom: 32px;
    margin-left: 32px;
}